doctype
html

    head

    body(ng-app="testApp" ng-strict-di)
        div(ng-controller='MainController as ctrl')
            span {{ ctrl.hello }}
        span Hello, world!!
        span: i.fa.fa-phone
        p
        img(src=require('../assets/cat.jpg'))
        translate {{addon.name}} Add-on:
        translate HELLO!